//media querys
$break-xs: 320px;
$break-s: 480px;
$break-m: 768px;
$break-l: 992px;
$break-xl: 1200px;

$color-black: #333333;
$color-white: #fff;


/*** clean ***/
.row {
  margin: 0;
  padding: 0;
}
h1, h2, h3, h4, h5, p {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

button {
  &:focus {
    outline: 0;
  }
}


/*** Utilities ****/
%center-background {
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/****** Centrar ******/
.grid-center-container {
  display: table;
  width: 100%;
  height: 100%;
}

.grid-center-content{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  > * {
    display: inline-block;
    float: none !important;
  }
}

.grid-center-content-vertical {
  display: table-cell;
  vertical-align: middle;
}

.grid-center-content-horizontal {
  text-align: center;
  > * {
    display: inline-block;
    float: none !important;
  }
}

%grey-filter {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

%color-normal {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

%text-shadow {
  text-shadow: 1px 1px 0 #585858;
}

%transition-500 {
  -webkit-transition: all 500ms linear;
  -moz-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
}

%transition-300 {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}



/*** General ***/
body, h1, h2, h3, h4, h5, p, div, button, a {
  color: $color-black;
}







